<div class="words">
  <ul>
    <div class="fact">
      <h2>Pledge your support!</h2>
      <p>
        <%= f.check_box :family_friend %>
        <%= f.label "I pledge not to wipe my butt with our kids future. I will buy recycled toilet paper." %><br/>
      </p>

      <p>
        <%= f.check_box :recycled_only %>
        <%= f.label "Write a letter to your supermarket supporting a phase out of non-recycled toilet paper." %><br/>
      </p>

    </div>
  </ul>
</div>