<h1>Privacy Statement</h1>

<p>
  Personal information collected by Wipe It Out (WIO) is protected by the Privacy Act 1988 (Cth) (the 'Privacy Act').
  Personal information is any information that can be used to identify you and includes sensitive information.
</p>
<p>
  WIO follows the National Privacy Principles contained in the Privacy Act in handling personal information from
  clients/beneficiaries, business partners, supporters, members of the public and WIO People (including staff,
  volunteers, employees, delegates, candidates for volunteer work and prospective employees).
</p>
<p>
  WIO has developed a Privacy Policy to protect your privacy. The Policy is available in hard copy on request, and
  contains detailed information about WIO's responsibilities, your rights, and the information that may be collected by
  WIO and how it would be used.
</p>
<p>
  The primary purpose for collecting personal information from you is validate the integrity of your support, as well as
  the ability to communicate to you around the campaign. Your personal information may be used to:
</p>
<ul>
  <li>communicate with you about how your support is being used or about WIO planned activities and successes, causes,
    events, products etc, which we believe may be of interest to you
  </li>
  <li>Respond to your feedback or complaints</li>
  <li>answer your queries.</li>
</ul>

<p>
  It may also be used for:
</p>
<ul>
  <li>any other specific purpose for which it was requested and which was advised to you</li>
  <li>directly related purposes.</li>
</ul>

<p>
  Please be assured that wherever possible WIO uses information in a de-identified form. Personal information will not
  be disclosed to third parties without your permission, except where permitted or required under the Privacy Act.
</p>
<p>
  All personal and sensitive information collected will be securely stored by WIO and protected from unauthorised use or
  access, and all reasonable steps will be taken to ensure information is accurate and up-to-date. Our Privacy Policy
  also provides a process for requesting access to your personal information.
</p>
<p>
  If you have any enquiries in relation to privacy or personal information please contact:
</p>
The Privacy Team
<br>
Wipe It Out
<br>
PO Box a709
<br>
Sydney South NSW 1235
<br>
Phone: 02 8003 3030
<br>
<br>
For more information about the National Privacy Principles please visit the web-site:
<a href="www.privacy.gov.au">www.privacy.gov.au</a>
