<h2>Forging new ground, one step at a time</h2>

<p>
  In the spirit of our anti-boycott approach, we aim to work with Australia’s business community, large and small, to
  help them lead the way by providing recycled toilet paper to their staff and customers.
</p>

<p>
  Brands such as Qantas, Woolworths, Coles, IGA. Organisations from Local Councils, schools, trains and ferries, and
  hospitals.
</p>

<p>
  Your support enable us to work with one business at a time, ending the insanity of non-recycled toilet paper, whilst
  helping Australian businesses flourish with our custom.
</p>

<p>
  Your support caters for all businesses in Australia, regardless of size and location. The two (2) options available to
  get on board are:
</p>

<ul>
  <li>
    Quick Wipe – The businesses able to switch to stock, sell or use recycled toilet paper. This would suit large
    corporates such as Banks and Telco’s who have in-house purchasing teams who buy for the entire business.
  </li>
  <li>
    Slow Wipe – These guys are the large retailers like supermarkets, schools, government bodies and even toilet-paper
    manufacturers that are committed to wiping out the use or sale of non-recycled toilet paper by 2014
  </li>
</ul>

<p>
  That’s right, five years is long enough for an organisation to stage a Wipe Out campaign.
</p>


<h2>The slow wipe - 5 steps in the pipeline</h2>

<p>
  In the lead up to 1 December, 2014 we are targeting five stages of social change:
</p>

<ul>
  <li>By 2010 – 20% of toilet paper sold and purchased in Australia is made of recycled paper; 30% from sustainably
    managed forests (which are 40-year pine plantations)
  </li>
  <li>By 2011 – 40% of toilet paper is made of recycled paper; 30% from sustainably managed forests</li>
  <li>By 2012 – 60% of toilet paper is made of recycled paper; 20% from sustainably managed forests</li>
  <li>By 2013 – 80% of toilet paper paper is made of recycled paper; 10% from sustainably managed forests</li>
  <li>By 2014 – 100% of toilet paper paper is made of recycled paper</li>
</ul>

<p>
  The above is the ‘phase out’ strategies for businesses, including your local supermarket to sign up & commit to. We
  believe they are realistic, sufficiently timed.
</p>
<p>
  By 2014, Wipe It Out will engage the help of legal counsel to draft a bill for Parliament mandating that everyone in
  Australia will use 100% recycled toilet paper.
</p>
<p>
  This bill will represent the sentiments of the innovative retailers, businesses and consumers who came on board today.
</p>