<h2>Chickens and eggs</h2>

<p>
  Change is the only constant.
</p>
<p>
  When the outcome makes sense, change can happen in a heartbeat.
</p>
<p>

  As a wise sage once said: “We don’t inherit the planet from our grandparents; we borrow it from our grandchildren”.
</p>
<p>

  In this spirit of change and protecting our planet, we’re keen to see retailers “green up” their supply chain, just
  like Woolworths told its egg suppliers it was increasing the amount of free-range eggs sold in 2009.
</p>
<p>

  At the time, the egg industry responded by changing the way it operated, ultimately delivering the right goods.
</p>
<p>

  Everyone wins: people, planet, profits – and even chickens.
</p>
<p>

  To be sustainable, change needs to be a win–win. It needs to be collaborative and friendly.
  <a href="/home">That’s what our anti-boycott philosophy is all about.</a>
</p>