<div id="social_networking"><h2>Thanks for your support!</h2>

  <p>
    Hey, thanks so much for playing your part in the toilet paper revolution. You rock. Your actions help leave a
    better planet for all future generations, humans, animals and plants alike. You can follow us on
    <a href="http://twitter.com/wipeitoutoz" target="_blank">Twitter</a>, be friend us on
    <a href="http://www.facebook.com/group.php?gid=194339370126" target="_blank">Facebook</a>.
  </p>

  <p>
    If you know of a business that has made the switch to only using/selling recycled toilet paper,
    <a href="mailto:onboard@wipeitout.com.au">let us know</a>. We want to make sure we support all those who put the
    environment before our butts.
  </p>

</div>
