<h1>Listing pledges</h1>

<table>
  <tr>
  </tr>

<% @pledges.each do |pledge| %>
  <tr>
    <td><%= link_to 'Show', pledge %></td>
    <td><%= link_to 'Edit', edit_pledge_path(pledge) %></td>
    <td><%= link_to 'Destroy', pledge, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New pledge', new_pledge_path %>