<p>
  Wipe It Out couldn’t … well, wipe it out… without the support of a few people who gave their talent, time and money to
  the cause.
</p>
<p>
  Our partners include:
</p>

<ul>
  <li>
    <a href="http://digitaleskimo.net/" target="_blank">Digital Eskimo</a>
  </li>
  <li>
    <a href="http://shiftlock.com.au/" target="_blank">Shiftlock</a>
  </li>
  <!--<li>-->
    <!--&lt;!&ndash;<a href="http://zerozeroone.com.au/" target="_blank">zero.zero.one</a>&ndash;&gt;-->
    <!--zero.zero.one-->
  <!--</li>-->
  <li>
    <a href="http://www.hellowinston.com.au" target="_blank">hello winston</a>
  </li>                         
  <li>
    <a href="http://www.thevictoriahotel.net.au/about/" target="_blank">The Victoria Hotel, Annandale</a>
  </li>
  <li>
    <a href="http://www.csl.org.au" target="_blank">The Centre For Sustainable Leadership</a>
  </li>
  <li>
    <a href="http://sustainablegrounds.ning.com/" target="_blank">Sustainable Grounds</a>
  </li>
  <li>
    <a href="http://www.greenermedia.com/" target="_blank">Greener Media - The Adventure of our Butts</a>
  </li>

</ul>
