<p>
  It’s time to butt in. We’re on a mission to wipe out the use of non-recycled toilet paper in Australia by 2014.
</p>

<div id="vimeo">
  <div id="embedded_video" class="vimeo_panel">
    <%= render :partial => 'vimeo' %>
  </div>

  <div id="vimeo_right" class="vimeo_panel">

    <div id="commitment_counter">

      <p>
        In an independent, “anti-boycott” campaign called Wipe It Out, we’re winning the hearts and minds of consumers &
        major retailers like Coles, Woolworths and IGA to stock Aussie supermarket shelves exclusively with recycled toilet
        paper.
      </p>
      
      <p id="supporter_count">
        Join the other <strong id="commitment_count"><%= @supporters.count %></strong> Australians committed to wiping
        out
        non-recycled toilet paper.
      </p>
    </div>

  </div>
</div>

<p>

  Wipe It Out is a unique campaign that focuses on collaboration, rather than using aggressive tactics against
  retailers that would divide or alienate.
</p>


<p>
  Instead, we want Australia to stop turning its precious virgin rainforests or plantation forests into toilet paper
  for our backsides. We’d rather see this great country wipe it out altogether and use recycled paper. Let us not be
  so rude as to chop down a tree and turn it in to toilet paper for its first and final use.
</p>


<div id="supporter">
  <%= render :partial => 'supporter' %>
</div>