<div id="the_facts">
  <div id="fact_top_words" class="fact_top">
    <h2>Let the facts talk</h2>

    <p>
      Did you know that:
    </p>

    <ul>
      <li>95% of our toilet paper in Australia comes from a mix of old growth, virgin and sustainably managed forests
      </li>
      <li>270,000 trees a day are chopped and pulped for toilet paper only around the world – that’s 200 trees a minute,
        or
        98.5 million a year
      </li>
      <li>50,000 species of trees become extinct every year with our current rate of deforestation</li>
      <li>Consumers use approximately 8.6 sheets of paper per toilet use – a total of 57 sheets a day or 20,805 sheets a
        year
      </li>
    </ul>
  </div>

  <div id="facts_youtube">
    <%= render :partial => 'youtube' %>
  </div>
</div>

<h2>Let the solution talk</h2>

<p>
  On the other hand… did you know that recycled toilet paper saves water?
</p>
<p>
  Just a few statistics:

</p>
<p>
  Every tonne of toilet paper made from recycled paper saves 31,000 litres of water and 400kg of greenhouse gases -
  <a href="http://www.northeastwasteforum.org.au/NEWF/CMS/uploads/PDF/CW/Product%20Fact%20Sheet%20-%20ToiletTissueHandTowel.pdf" target="_blank">read
    more here</a>
</p>
<p>
  If everyone in the world switched to post-consumer recycled toilet paper, we would save 6 billion litres of water in
  the manufacturing and processing
  Subheading: Wow your mates with this trivia
</p>
<p>

  A survey administered to a sample population of 106 people by a Steve Silverman, a science teacher in Albany, USA
  shows the following whopping statistics:
</p>

<ul>
  <li>44% of people wipe their backsides from front to back with their hand starting behind their back</li>
  <li>60% look at the paper after they wipe</li>
  <li>50% say that they have wiped with leaves</li>
  <li>8% have wiped with their hands</li>
  <li>2% have wiped with money</li>
</ul>

<p>

  Or try <a href="http://www.wonderbarry.com/TP%20Site/general.html" target="_blank">these statistics</a>, sourced in a
  Kimberly Clark survey dated 5 July 2000, showing that men generally "fold" and women "wad":
</p>
<ul>
  <li>40% of people fold or stack their toilet paper</li>
  <li>40% wad or crumple</li>
  <li>20% wrap it around their hand</li>
  <li>52% of men and 38% of women are "folders"</li>
  <li>38% of men and 52% of women are "wadders"</li>
  <li>6% of men and 6% of women have no preference</li>
  <li>4% of men and 3% of women don't know</li>
</ul>
<p>
  <a href="http://www.gmagazine.com.au/features/1476/recycled-toilet-paper-getting-a-roll" target="_blank">G Mag</a> has
  some good advice for the toilet-paper shoppers among us:

</p>
<p>
  So with an ever expanding presence on supermarket shelves, what separates top-notch brands from the rest?

</p>
<p>
  Read the fine print and look out for product manufactured from 100 percent recycled materials wherever possible. Keep
  an eye out, too, for brands endorsed by a known environmental group.

</p>
<p>
  Purchase toilet paper in bulk and choose the brand with the most squares per roll to save packaging waste, and when
  you're finished remember to recycle the cardboard roll. Toilet paper pulled from the top instead of under saves a few
  extra squares each use.

</p>
<p>
  Recent advertising campaigns may be littered with adorable puppies, cute kids and catchy jingles, but the
  environmental credentials of recycled toilet paper are gaining ground. And that is - again, pardon the pun - a welcome
  relief.
</p>