<img class="union_jack" src="/images/poms/flag.jpg" alt="Union Jack">
<img class="union_jack" src="/images/poms/flag.jpg" alt="Union Jack">
<img class="union_jack" src="/images/poms/flag.jpg" alt="Union Jack">
<img class="union_jack" src="/images/poms/flag.jpg" alt="Union Jack">
<img class="union_jack" src="/images/poms/flag.jpg" alt="Union Jack">
<img class="union_jack" src="/images/poms/flag.jpg" alt="Union Jack">

<p>
  They may hold the Ashes (well, in 2009), but Australians love nothing more than flogging the Poms.
</p>
<p>

  Sometimes at their own game, like cricket; sometimes on global turf like exchange rates.
</p>
<p>
  But right now, the Poms have one up on us.
</p>
<p>
  Marks & Spencer have changed their supply chain to reflect this
  <a href="http://74.125.155.132/search?q=cache:N1fjwnMLPMUJ:corporate.marksandspencer.com/file.axd%3Fpointerid%3Df3ccae91d1d348ff8f523ab8afe9d8a8%26versionid%3Dfbb46819901a428ca70ecf5a44aa8ddc+marks+and+spencers+toilet+paper+stock&cd=7&hl=en&ct=clnk&gl=au">statement</a>
  released by the brand.
</p>


<p>
  Harvesting Natural Materials:
</p>
<p>
  Aim Making sure all the wood we use is Forest Stewardship Council (FSC) certified (or where FSC is not available, an
  equivalent independent standard) or is recycled.
  Progress summary We have made good progress in improving the scope and consistency of our wood usage data, extending
  far beyond the wood products we sell. This year we have added construction materials to our data. In total, 41% of
  wood materials used were FSC certified, 12% recycled and 7% from other independently certified sources. Highlights
  include: the use of 100% FSC or recycled wood materials in our store décor, magazines and leaflets; 93% in our
  greetings cards stationery and gifts; and 92% in our kitchen rolls, tissues and toilet rolls. Half of the wood
  products supplied for the construction and fit-out of our stores were also from FSC certified sources and providers
</p>
<p>
  That’s righ, 93% of toilet paper sold by Marks & Spencer in the UK comes from FSC certified forests – which are
  sustainably managed forests, rather than old-growth forests.
</p>
<p>
  But we do better than catch up, we can go one better.
</p>
<p>
  Help us make Australia the first nation to wipe out the destruction of old-growth and pine-plantation trees for toilet
  paper.
</p>
<p>
  Get on board. <%= link_to 'Make your pledge now', {:controller => 'home', :action => 'index', :anchor => 'pledges'} %>

</p>
