<div>

  <div class="media_content">

    <h2>Print21 interviews creator of Wipe It Out!</h2>

      <div>
        <img src="/images/toilet-paper-no.jpg">
      </div>

    <p>
      Print21 recently interview Aaron on the origins of Wipe It Out and what it is trying to achieve.
      
      <a href="http://www.print21online.com/news-archive/green-guru-calls-for-roll-out-recycled-toilet-paper/">Full article here</a>




    </p>

  </div>


  <div class="media_content">
    <h2>Perfume can't cover up the whiff of profligacy</h2>

    <div>
      <img src="/images/toilet-paper-tree.jpg">
    </div>
    <p>
      Unfortunately your standard supermarket toilet paper is often unnecessarily bleached, printed,
      quilted and perfumed. This means we are literally flushing precious resources down the drain
      every day.

      <a href="http://www.planetark.org/awarenews/149">Full article here</a>
    </p>

  </div>

  <div class="media_content">
    <h2>Toilet paper trail that's raising a stink</h2>

    <div>
      <img src="/images/orang-img.png">
    </div>

    <p>
      A LONG-RUNNING battle in Australia's toilet paper industry has taken another twist, with the federal government
      overturning a previous ruling to prevent the import of thousands of tonnes of cheap loo paper from China and
      Indonesia.
      <a href="http://www.smh.com.au/environment/toilet-paper-trail-thats-raising-a-stink-20100206-njvh.html">Full article here.</a>
    </p>
  </div>

  <div class="media_content">
    <h2>Wipe it Out on World Toilet Day</h2>

    <div>
      <img src="/images/digital-eskimo-img.png">
    </div>

    <p>
      Today is World Toilet Day (yes really!) and we thought what better day to announce our support for Aaron Fuller’s
      Wipe it Out campaign. Aaron plans to phase out the use of virgin fibre toilet paper in Australia by 2014. It’s the
      bold vision which we fully endorse – so much so we created this wee animation pro bono for the launch.
      <a href="http://digitaleskimo.net/blog/2009/11/19/wipe-it-out-on-world-toilet-day">Full article here.</a>
    </p>
  </div>

  <div class="media_content">
    <h2>Toilet talk</h2>

    <div>
      <img src="/images/toilet-talk-img.png">
    </div>

    <p>
      Happy World Toilet Day everybody! No, we're not being - ahem - cheeky - today really is globally recognised as the
      day to be loo-aware.
      <a href="http://www.gmagazine.com.au/blog/1729/toilet-talk">Full article here.</a>
    </p>
  </div>

</div>