<% if flash[:error] -%>
    alert("ERRORERROR");
    $("#notice").replaceWith("<div id=\"supporter_error\"><%= flash[:error] %></div>");
<% else -%>
    $("#new_supporter")[0].reset();
    $("#new_supporter").replaceWith("<div id=\"signup_thanks\"><h2>Thanks for your support!</h2><p>Hey, thanks so much for playing your part in the toilet paper revolution. You rock. Your actions help leave a better planet for all future generations, humans, animals and plants alike.<div id=\"socialnetworking\"><ul><li><a id=\"twitter\" href=\"http://twitter.com/wipeitoutoz\" target=\"_blank\">Tweet this.</a></li><li><a id=\"facebook\" href=\"http://www.facebook.com/group.php?gid=194339370126\" target=\"_blank\">Facebook</a></li></ul></div><p>If you know of a business that has made the switch to only using/selling recycled toilet paper,<a href=\"mailto:onboard@wipeitout.com.au\">let us know</a>. We want to make sure we support all those who put the environment before our butts.</p></div>");
    $("#commitment_count").replaceWith("<strong id=\"commitment_count\">" + <%= @supporters.count %> + "</strong>");
<% end -%>
