<div id="no_heading_text">
  <p>
  Hey, sorry to lose you from Wipe It Out! We understand that sometimes you can get sick and tired of emails clogging up
  you mailbox.
  </p>
  <p>
    Thanks for you support and remember to tell your family and friends about Wipe It Out!
  </p>
  <p>
    If you decide you want to be kept up to date with Wipe It Out, just sign up as a supporter again on the main page.
  </p>
  <p>
    Regards.
  </p>
  <p>
    The Wipe It Out team.
  </p>
</div>