<p>
  For all enquiries, including media & retail, email Aaron at
  <a href="mailto:onboard@wipeitout.com.au">onboard@wipeitout.com.au</a>
</p>

<p>
  To follow the campaign, you can find us at <a href="http://twitter.com/wipeitoutoz" target="_blank">Twitter</a> and/or be our friend on <a href="http://www.facebook.com/group.php?gid=194339370126" target="_blank">Facebook</a>.
</p>

<p>
  Thanks for caring.
</p>
<p>
  The Wipe It Out team 2009.
</p>