<p>
  Now for the obvious question: what toilet paper should you buy?
</p>
<p>
  Luckily, our options in Australia are growing.
</p>
<p>

  Wipe It Out is an independent campaign, not aligned to or funded by any body, industry group or brand.
</p>
<p>

  Here are a few options for your next foray down the toilet-paper aisle. They range in softness and price, so try a few
  before you pick your favourite.
</p>

<h2>Domestic</h2>

<table>
  <tr>
    <td><img src="/images/whattobuy/naturale.jpg" alt="Naturale"></td>
    <td><a href="http://www.arf.net.au/naturale/environment.html" target="_blank">Naturale</a> 100% recycled toilet
      tissue is manufactured predominately from post consumer materials.
    </td>
  </tr>

  <tr>
    <td>
      <img src="/images/whattobuy/safe.jpg" alt="Safe">
    </td>
    <td><a href="http://products.planetark.org/paproducts/safe.cfm" target="_blank">PlanetArk</a> advertise one of there favourites.

    </td>
  </tr>

  <tr>
    <td>
      <img src="/images/whattobuy/green_earth.png" alt="Green Earth">

    </td>
    <td><a href="http://envirocanerecycledpaperproducts.street-directory.com.au/" target="_blank">EnviroCane</a> a
      leader in environmentally friendly paper products.
    </td>
  </tr>
</table>

<h2>Commercial</h2>
<table>
  <tr>
    <td><img src="/images/whattobuy/envirocane.jpg" alt="EnviroCane"></td>
    <td><a href="http://envirocanerecycledpaperproducts.street-directory.com.au/" target="_blank">EnviroCane</a> a
      leader in environmentally friendly paper products.
    </td>
  </tr>

</table>
