<p>
  Now for the obvious question: what toilet paper should you buy?
</p>
<p>
  Luckily, our options in Australia are growing.
</p>
<p>

  Wipe It Out is an independent campaign, not aligned to or funded by any body, industry group or brand.
</p>
<p>

  Here are a few options for your next foray down the toilet-paper aisle. They range in softness and price, so try a few
  before you pick your favourite.
</p>
<p>

  <a href="http://products.planetark.org/paproducts/safe.cfm" target="_blank">PlanetArk</a> advertise one of their favourites.
</p>
<p>


  Commercial:
</p>
<p>
  <a href="http://envirocanerecycledpaperproducts.street-directory.com.au/" target="_blank">EnviroCane</a> a leader in environmentally friendly paper products.

</p>