
  <h2>Which one are you?</h2>

  <p>
    In the spirit of our anti-boycott approach, we’d like to credit the progressive businesses and organisations that
    have already joined the toilet paper revolution.
  </p>

  <p>
    They appear in two categories:
  </p>
  <ul>
    <li>Total Wipout – these businesses have already switched to stocking, selling or using recycled toilet paper. If
      this sounds like you or someone you know, tell us about it at onboard@wipeitout.com.au and we’ll flag your good
      services to mankind with a logo at our site
    </li>
    <li>Wiping It Out – these guys are the large retailers like supermarkets, schools, government bodies, corporates and
      even toilet-paper manufacturers that are committed to wiping out the use or sale of non-recycled toilet paper by
      2014
    </li>
  </ul>
  <p>
    That’s right, five years is long enough for an organisation to stage a Wipe Out campaigm.
  </p>

  <h2>5 steps in the pipeline</h2>

  <p>
    In 2014, Wipe It Out will engage the help of legal counsel to draft a bill for Parliament mandating that everyone in
    Australia will use 100% recycled toilet paper.
  </p>

  <p>

    This bill will represent the sentiments of the innovative retailers, businesses and consumers who came on board
    today.
  </p>

  <p>

    In the lead up to 1 December, 2014 we are targeting five stages of social change:
  </p>

  <p>
  <ul>
    <li>By 2010 – 20% of toilet paper sold and purchased in Australia is made of recycled paper; 30% from sustainably
      managed forests (which are 40-year pine plantations)
    </li>
    <li>By 2011 – 40% of toilet paper is made of recycled paper; 30% from sustainably managed forests</li>
    <li>By 2012 – 60% of toilet paper is made of recycled paper; 20% from sustainably managed forests</li>
    <li>By 2013 – 80% of toilet paper paper is made of recycled paper; 10% from sustainably managed forests</li>
    <li>By 2014 – 100% of toilet paper paper is made of recycled paper</li>
  </ul>

  <p>
    The above is the ‘phase out’ strategies for businesses, including your local supermarket to sign up & commit to. We
    believe they are realistic, sufficiently timed.
  </p>

  <div class="onboard">
  <ul>
    <% for o in @onboard %>
        <li>
          <%= image_tag o.image_path, :class => 'list-image' %>
        </li>
    <% end %>
  </ul>
</div>
